<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<style>
		* {
			margin: 0;
		}

		html {
			background-color: rgb(32, 33, 42);
			color: white;
			display: table;
			font-family: 'Montserrat', sans-serif;
			height: 100%;
			text-align: center;
			width: 100%;
		}

		body {
			display: table-cell;
			vertical-align: middle;
			margin: 2em auto;
		}

		h2 {
			font-size: 2em;
			font-weight: 100;
		}
	</style>
</head>

<body>
	<h2>File deleted.</h2>
</body>

</html>